BasedOnStyle: WebKit
FixNamespaceComments: false
BinPackArguments: false
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
UseTab: Always
TabWidth: 4
IndentWidth: 4
BreakBeforeBraces: Stroustrup
NamespaceIndentation: All
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
BreakConstructorInitializers: AfterColon
AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SpaceInEmptyBlock: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
